{% extends "base.html" %}
{% block title %} Recherche {% endblock %}
{% block content %}

  <div class="main-wrapper">
    <div class="home">
      <div class="well bloc bloc-x">
        <h1>Recherche</h1>
      </div>
    </div>
    <div style="clear:both"></div>

  <form method="POST" action=".">
      {% csrf_token %}
      <div class="form-group">
      <input class="form-control" type="search" name="search" placeholder="Pseudo du love">
      </div>
      <div class="action">
        <input class="btn btn-primary" type="submit" value="Recherche"/>
      </div>
  </form>

    {% ifnotequal msg None %}
        <h3 class="text-warning">{{ msg }}</h3>
    {% else %}

    <div class="wrap-chicken-high">

      {% for p in persons %}

      <div class="panel panel-primary tickets">
        <div class="panel-heading">
          <h2 class="panel-title">{{ p.username }}</h2>
        </div>
        <div class="panel-body">
            {% if p.oldperson.sexe == "WOMEN" %}
          <img src="../static/asset/images/women.jpg" width="200"/>
            {% else %}
            <img src="../static/asset/images/men.jpg" width="200"/>
            {% endif %}
        </div>
        <div class="panel-footer">
          <form method="GET" action="{% url 'other' %}">
              {% csrf_token %}
              <input type="hidden" name="username" value="{{ p.username }}"/>
              <input class="btn btn-primary" type="submit" value="Voir son profil !" />
          </form>
          </div>
        </div>

      {% endfor %}

    </div>

    {% endifnotequal %}

  </div>

{% endblock %}
