{% extends "base.html" %}
{% block title %} Matching {% endblock %}

{% block content %}

    <div class="main-wrapper">
      <div class="home">
        <div class="well bloc bloc-x">
          <h1>Love pour toi</h1>
        </div>
      </div>
      <div style="clear:both"></div>

      <div class="wrap-chicken-high">

    {% for m in matches %}

    <div class="panel panel-danger tickets">
      <div class="panel-heading">

          {% ifnotequal m.oldperson1.user.username user.username %}
              <h2 class="panel-title">{{ m.oldperson1.user.username }}</h2>
          {% else %}
              <h2 class="panel-title">{{ m.oldperson2.user.username }}</h2>
          {% endifnotequal %}

      </div>
      <div class="panel-body">
        {% ifnotequal m.oldperson1.user.username user.username %}
            {% if m.oldperson1.sexe == "WOMEN" %}
                <img src="../static/asset/images/women.jpg" width="200"/>
            {% else %}
                <img src="../static/asset/images/men.jpg" width="200"/>
            {% endif %}
        {% else %}
            {% if m.oldperson2.sexe == "WOMEN" %}
                <img src="../static/asset/images/women.jpg" width="200"/>
            {% else %}
                <img src="../static/asset/images/men.jpg" width="200"/>
            {% endif %}
        {% endifnotequal %}
      </div>
      <div class="panel-footer">
        <form method="GET" action="{% url 'other' %}">
            {% csrf_token %}
            {% ifnotequal m.oldperson1.user.username user.username %}
                <input type="hidden" name="username" value="{{ m.oldperson1.user.username }}"/>
            {% else %}
                <input type="hidden" name="username" value="{{ m.oldperson2.user.username }}"/>
            {% endifnotequal %}
            <input class="btn btn-primary" type="submit" value="Voir son profil !" />
        </form>
        </div>
      </div>

    {% endfor %}
  </div>

</div>

{% endblock %}
