{% extends "base.html" %}
{% block title %} Mon Profil {% endblock %}

{% block content %}
    <!--
    <h1>Hello {{ user.get_full_name }}</h1>
    <p>USERNAME : {{user.get_username}}</p>
    <p>EMAIL : {{user.email}}</p>
    <p>PASSWORD : {{user.password}}</p>
    <p>LAST_LOGIN : {{user.last_login}}</p>
    <p>DATE_JOINED : {{user.date_joined}}</p>
    <p>BIRTHDAY : {{ user.oldperson.birthday }}</p>
    <p>AGE : {{ user.oldperson.getage }}</p>
    <p>DESCRIPTION : {{ user.oldperson.description }}</p>
    <p>WEIGHT : {{ user.oldperson.weight }}</p>
    <p>HEIGHT : {{ user.oldperson.height }}</p>
    <p>SEXE : {{ user.oldperson.sexe }}</p>
    <p>SEXUAL PREF. : {{ user.oldperson.sexualOrientation }}</p>
    <p>AGE RANGE INTEREST :{{ user.oldperson.ageRangeMin }} - {{ user.oldperson.ageRangeMax }}</p>

    <button><a href="{% url 'update' %}">Modifier mes infos</a></button>
    -->
    <div class="main-wrapper">

      <div class="home">
        <div class="well bloc bloc-l">
          <h2>{{ user.get_full_name }}</h2>
          <br/>
          <h4>Nom d'utilisateur : {{user.get_username}}</h4>
          <h4>Mail : {{user.email}}</h4>
          <h4>Naissance : {{ user.oldperson.birthday }}, ({{ user.oldperson.getage }} ans)</h4>
          <h4>Vous nous avez rejoins le : {{user.date_joined}}</h4>
          <blockquote>
            <em>" {{ user.oldperson.description }} "</em>
          </blockquote>
        </div>
        <div class="well bloc bloc-s">
          <div class="image">
              {% if user.oldperson.sexe == "WOMEN" %}
            <img src="../static/asset/images/women.jpg"/>
              {% else %}
              <img src="../static/asset/images/men.jpg">
              {% endif %}
          </div>
        </div>
      </div>
      <div class="home">
        <div class="well bloc bloc-x-alt">
          <h3>MENSURATIONS ET PREFERENCES</h3>
          <br/>
          <table class="table">
            <tr>
              <td><h4 class="text-success">Je pèse : {{ user.oldperson.weight }} Kg</h4></td>
              <td><h4 class="text-success">J'aime {{ user.oldperson.get_sexualOrientation_display }}</h4></td>
            </tr>
            <tr>
              <td><h4 class="text-success">Je perche à : {{ user.oldperson.height }} cm</h4></td>
              <td><h4 class="text-success">Ma tranche d'Âge : {{ user.oldperson.ageRangeMin }} - {{ user.oldperson.ageRangeMax }} ans</h4></td>
            </tr>
            <tr>
              <td><h4 class="text-success">Je suis {{ user.oldperson.get_sexe_display }}</h4></td>
              <td>&nbsp;</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="home">
        <div class="well bloc bloc-x">
          <h3>ACTIONS</h3>
          <a class="btn btn-primary btn-lg" href="{% url 'update' %}">Modifier mes Infos</a>
        </div>
      </div>

    </div>

{% endblock %}
