{% extends "base.html" %}
{% block title %} Connexion {% endblock %}
{% block content %}


    <div class="jumbotron login-form">
      <div class="login-title">


        <div class="login-title">
            <h2>Adopte un ieuv !</h2>
        </div>


        {% if user.is_authenticated %}

            </br><p>Vous êtes connecté, {{ user.username }} !</p>

        {% else %}

        <i class="fa fa-sign-in fa-5x" aria-hidden="true"></i>
        <h2>Identification</h2>

        {% if error %}
          <p class="text-danger">Utilisateur inconnu ou mauvais de mot de passe.</p>
        {% endif %}

          <form method="post" action=".">
              {% csrf_token %}
              {{ form.as_p }}
              <input class="btn btn-success" type="submit" value="Se connecter" />
            </form>

            <div class="forgot">
                <p class="text-info">Mot de passe oublié ? <a href="{% url 'password_reset' %}"> Réinitialiser le ! </a></p>
                <p class="text-info">Vous n'êtes pas membre ? <a href="{% url 'registration' %}">Incrivez-vous !</a></p>
            </div>

      {% endif %}
      </div>
    </div>



{% endblock %}
