{% extends "base.html" %}
{% block title %} Réinitialisation du mot de passe {% endblock %}
{% block content %}

<div class="login-title">
  <h1>Réinitialisation du mot de passe</h1>
</div>

<div class="jumbotron reset">

<form method="POST" action="." class="form-horizontal">
  <fieldset>
    {% ifnotequal error None %}
      <legend class="text-danger">{{ error }}</legend>
    {% endifnotequal %}

    {% csrf_token %}
    <div class="form-group">
      <label class="col-lg-2 control-label" for="username">Pseudo :</label>
      <div class="col-lg-10">
        <input class="form-control" type="text" name="username" id="username" placeholder="Ex : Zozor" size="30" maxlength="10" />
      </div>
     </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="email">Email :</label>
      <div class="col-lg-10">
        <input class="form-control" type="email" name="email" id="email" placeholder="Ex : toto@gmail.com" size="30" maxlength="50" />
      </div>
     </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="password1">Nouveau mot de passe :</label>
      <div class="col-lg-10">
        <input class="form-control" type="password" name="password1" id="password1" placeholder="Ex : Demo1234" size="30" maxlength="50" />
      </div>
     </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="password2">Encore :</label>
      <div class="col-lg-10">
        <input class="form-control" type="password" name="password2" id="password2" placeholder="Ex : Demo1234" size="30" maxlength="50" />
      </div>
     </div>
    <div class="action">
      <input class="btn btn-success" type="submit" value="Valider"/>
    </div>
  </fieldset>
</form>

</div>

{% endblock %}
