{% extends "base.html" %}
{% block title %} Réinitialisation du mot de passe {% endblock %}
{% block content %}

    <h1>Réinitialisation du mot de passe</h1>

    {% ifnotequal error None %}
    <p style="color:red">{{ error }}</p>
    {% endifnotequal %}

    <form method="POST" action=".">
        {% csrf_token %}
        <label for="username">Pseudo :</label>
        <input type="text" name="username" id="username" placeholder="Ex : Zozor" size="30" maxlength="10" />
        </br></br>
        <label for="email">Email :</label>
        <input type="email" name="email" id="email" placeholder="Ex : toto@gmail.com" size="30" maxlength="50" />
        </br></br>
        <label for="password1">Nouveau mot de passe :</label>
        <input type="password" name="password1" id="password1" placeholder="Ex : Demo1234" size="30" maxlength="50" />
        </br></br>
        <label for="password2">Nouveau mot de passe (encore) :</label>
        <input type="password" name="password2" id="password2" placeholder="Ex : toto@gmail.com" size="30" maxlength="50" />
        </br></br>

        <input type="submit" value="Submit" />

    </form>
{% endblock %}